POSTGRES_DB=alfred
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# front folder
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/alfred
AUTH_SECRET=
# postgres://postgres:mypassword@localhost:5432/postgres

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app