# front folder
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/alfred
AUTH_SECRET=366FTNEUz7lV3t2SHuQn0fmurN/7ZEMAa3GI7bYNW7w=
# postgres://postgres:mypassword@localhost:5432/postgres

BETTER_AUTH_SECRET=CQh8aT1gdUaIEJdlZfUqER8X6x0mvyA4
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app